* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 25px;
    background-color: wheat;
}

main {
    flex: auto;
    overflow: auto;
}

footer {
    height: 25px;
    background-color: wheat;
}

footer section {
    display: flex;
    flex-direction: row-reverse;
}


aside {
    background-color: silver;
}